# Cargo build target
/target

# Rust executable outputs
/laceboot
/laceboot-static

# Rust debug files
**/*.rs.bk

# build-efi disk
/efi.img

# IDE / LSP files
/compile_commands.json
/workspace.code-workspace
/.cache

# github files (but allow workflows and dependabot config)
/.github/*
!/.github/workflows
!/.github/dependabot.yml

# images and EFI files
/*.fd
/*.img

# test directories
/vm
